<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/404.css">
    <title> ERROR</title>
</head>

<body>
    <div class="error">
        <img src="https://res.cloudinary.com/siddeshpansare/image/upload/v1713029613/iwxpczklrha0gp80r1xh.svg"
            alt="404 Error">
    </div>
    <div class="link">
        <h4>ERROR CODE: <%= err.statusCode %></h4>
        <h4>ERROR MESSAGE: <%= err.message %></h4>
        <!-- <a href="/api/v1/users/register">Home</a> -->
    </div>
</body>

</html>