<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <script src="https://kit.fontawesome.com/948bfbd05c.js" crossorigin="anonymous"></script>
    
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/about.css">

</head>

<body>
    <!-- Navbar -->
    <div class="nav-bar">
        <div class="items-container">
            <img src="/assets/logo.png" alt="Logo" width="70px" height="55px">
            <h4>CampusHub</h4>
            <a href="/home.html">Home</a>
            <a href="">About Us</a>
            <a href="">Team</a>
        </div>
        <div class="item-container-2">
            <a href="/api/v1/users/login">Login</a>
            <a href="/api/v1/users/register">Register</a>
        </div>

    </div>

    <!-- below Navbar or main Section starts here -->
    <div class="section-container">
        <div class="section1">
            <div class="text-block">
                <div class="h1">
                    <h1 class="tagline">Dive Into Anything.!!</h1>
                </div>
                <div class="text">
                    <p>CampusHub is home to thousands of communities, endless conversation, and authentic
                        human connection.
                        Whether you're into breaking news, sports, TV fan theories, or a never-ending stream of the
                        internet's cutest animals, there's a community on CampusHub for you.</p>
                </div>
            </div>
        </div>
        <!-- <hr> -->
        <!-- section2 Starts -->
        <div class="section2" id="about">
            <div class="h1">
                <h1 class="tagline">How Does CampusHub Work?</h1>
            </div>
            <div class="card-container">
                <div class="cards">
                    <div class="content">
                        <h2><span class="material-symbols-outlined">
                                border_color
                            </span>Post</h2>
                        <p class="hero">The community can share content by posting stories, links, images, and videos.</p>
                    </div>
                </div>
                <div class="cards">
                    <div class="content">
                        <h2><span class="material-symbols-outlined">
                                forum
                            </span>Comment</h2>
                        <p class="hero">The community comments on posts. Comments provide discussion and often humor.</p>
                    </div>
                </div>
                <div class="cards">
                    <div class="content">
                        <h2><span class="material-symbols-outlined">
                                arrow_upward
                            </span>Vote</h2>
                        <p class="hero">Comments & posts can be upvoted or downvoted. The most interesting content rises to
                            the top.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <hr> -->
        <!-- Section3 starts -->
        <div class="section3">
            <h1>CampusHub by the Numbers</h1>
            <div class="quadcards">
                <div class="cards">
                    <span class="material-symbols-outlined">
                        arrow_warm_up
                    </span>
                    <h3 id="views">73M+</h3>
                    <h3 id="views2">Daily Active Uniques</h3>
                </div>
                <div class="cards">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                
                    <h3 id="views">267M+</h3>
                    <h3 id="views2">weekly active uniques</h3>
                </div>
                <div class="cards">
                    <span class="material-symbols-outlined">
                        group
                    </span>
                    <h3 id="views">100K+</h3>
                    <h3 id="views2">Active communities</h3>
                </div>
                <div class="cards">
                    <span class="material-symbols-outlined">
                        visibility
                    </span>
                    <h3 id="views">16B+</h3>
                    <h3 id="views2 ">Posts and Comments</h3>
                </div>
            </div>

        </div>
    
        <!-- <hr> -->
    
    
        
        <!-- footer -->
        <footer class="footer">
            <div class="row">
                <div class="col">
                    <img src="/footer-logo.png" class="logo" width="85" height="75">
                    <p>CampusHub is home to thousands of communities, endless conversation, and
                        authentic human connection.</p>
                </div>
                <div class="col">
                    <h3>Office</h3>
                    <p>Vikas Nagar </p>
                    <p>Koparkhairane</p>
                    <p>Navi Mumbai</p>
                    <p>Maharashtra , PIN 400600 , INDIA</p>
                    <p class="E-mail"> Email-Id: <br> Campushub123@gmail.com</p>
                    <h4>+91 - 9988774455</h4>
                </div>
                <div class="col">
                    <h3>Links</h3>
                    <ul>
                        <li><a href="/ashmit.html">Home</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="/AboutUs.html">About us</a></li>
                        <li><a href="">Features</a></li>
                        <li><a href="">Contacts</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h3>Newsletter</h3>
                    <form>
                        <i class="fa-regular fa-envelope"></i>
                        <input type="email" placeholder="E-mail id" required>
                        <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
                    </form>
                    <div class="social-icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-whatsapp"></i>
                    </div>
                </div>
            </div>
            <hr>
            <p class="copyright" style="font-family: Arial, Helvetica, sans-serif;">Campus Hub
                <i class="fa-solid fa-copyright">- 2024 All Right Reserved</i>
            </p>
        </footer>
    </div>
    
</body>





































    <script src="about.js"></script>



</html>