<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Policy</title>
    <link rel="stylesheet" href="/content.css">
    <script src="https://kit.fontawesome.com/948bfbd05c.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- navbar -->
    <div class="nav-bar">
        <div class="items-container">
            <img src="https://res.cloudinary.com/siddeshpansare/image/upload/v1712565045/r849digupjofzjczl4lh.png" alt="Logo" width="75" height="65">
            <h4>CampusHub</h4>
            <a href="/home.html">Home</a>
            <a href="">About Us</a>
            <a href="">Team</a>
        </div>
        <div class="item-container-2">
            <a href="/api/v1/users/login">Login</a>
            <a href="/api/v1/users/register">Register</a>
        </div>

    </div>
    <!-- Hero Section -->
    <div class="hero-section">
        <div class="left-side">
            <h2>Rules</h2>
            <!-- <h2>Enforcement</h2> -->
        </div>
        <div class="right-side">
            <h1>College Hub Content Policy</h1>

            <p>College Hub is a vast network of communities that are created, run, and populated by you, the College Hub
                users.
            </p>
            <p>
                Through these communities, you can post, comment, vote, discuss, learn, debate, support, and connect
                with people who share your interests, and we encourage you to find—or even create—your home on College
                Hub
            </p>
            <p>While not every community may be for you (and you may find some unrelatable or even offensive), no
                community should be used as a weapon. Communities should create a sense of belonging for their members,
                not try to diminish it for others. Likewise, everyone on College Hub should have an expectation of
                privacy
                and safety, so please respect the privacy and safety of others.</p>
            <p>Every community on College Hub is defined by its users. Some of these users help manage the community as
                moderators. The culture of each community is shaped explicitly, by the community rules enforced by
                moderators, and implicitly, by the upvotes, downvotes, and discussions of its community members. Please
                abide by the rules of communities in which you participate and do not interfere with those in which you
                are not a member.</p>
            <p>Below the rules governing each community are the platform-wide rules that apply to everyone on College
                Hub.
                These rules are enforced by us, the admins.</p>
            <p>College Hub and its communities are only what we make of them together, and can only exist if we operate
                by a
                shared set of rules. We ask that you abide by not just the letter of these rules, but the spirit as
                well.</p>

            <h2>Rules</h2>
            <h3>Rule 1</h3>
            <p>Rule 1
                Remember the human. College Hub is a place for creating community and belonging, not for attacking
                marginalized or vulnerable groups of people. Everyone has a right to use College Hub free of harassment,
                bullying, and threats of violence. Communities and users that incite violence or that promote hate based
                on identity or vulnerability will be banned.</p>
            <h3>Rule2</h3>
            <p>Abide by community rules. Post authentic content into communities where you have a personal interest, and
                do not cheat or engage in content manipulation (including spamming, vote manipulation, ban evasion, or
                subscriber fraud) or otherwise interfere with or disrupt College Hub communities.</p>
            <h3>Rule 3</h3>
            <p>Respect the privacy of others. Instigating harassment, for example by revealing someone’s personal or
                confidential information, is not allowed. Never post or threaten to post intimate or sexually-explicit
                media of someone without their consent.</p>
            <h3>Rule 4</h3>
            <p>Do not share or encourage the sharing of sexual, abusive, or suggestive content involving minors. Any
                predatory or inappropriate behavior involving a minor is also strictly prohibited.</p>
            <h3>Rule 5</h3>
            <p>You don’t have to use your real name to use College Hub, but don’t impersonate an individual or an entity
                in a
                misleading or deceptive manner.</p>
            <h3>Rule 6</h3>
            <p>Ensure people have predictable experiences on College Hub by properly labeling content and communities,
                particularly content that is graphic, sexually-explicit, or offensive.</p>
            <h3>Rule 7</h3>
            <p>Keep it legal, and avoid posting illegal content or soliciting or facilitating illegal or prohibited
                transactions.</p>
            <h3>Rule 8</h3>
            <p>Don’t break the site or do anything that interferes with normal use of College Hub.</p>
        </div>
    </div>
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col">
                <img src="https://res.cloudinary.com/siddeshpansare/image/upload/v1712565045/r849digupjofzjczl4lh.png"class="logo" width="85" height="55">
                <p style="color: white;">CollegeHub is home to thousands of communities, endless conversation, and
                    authentic human connection.</p>
            </div>
            <div class="col">
                <h3>Office</h3>
                <p>Vikas Nagar </p>
                <p>Koparkhairane</p>
                <p>Navi Mumbai</p>
                <p>Maharashtra , PIN 400600 , INDIA</p>
                <p class="E-mail">E-mail Id:collegehub123@gmail.com</p>
                <h4>+91 - 9988774455</h4>
            </div>
            <div class="col">
                <h3>Links</h3>
                <ul>
                    <li><a href="/home.html" target="_blank">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="/AboutUs.html" target="_blank">About us</a></li>
                    <li><a href="">Features</a></li>
                    <li><a href="">Contacts</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Newsletter</h3>
                <form>
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" placeholder="E-mail id" required>
                    <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
                </form>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright" style="font-family: Arial, Helvetica, sans-serif;">Campus Hub <i
                class="fa-solid fa-copyright">- 2024 All Right Reserved</i></p>
    </footer>

</body>

</html>