<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
    <script src="https://kit.fontawesome.com/948bfbd05c.js" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="logo">
                <img src="https://res.cloudinary.com/siddeshpansare/image/upload/v1712565045/r849digupjofzjczl4lh.png" alt="Company Logo">
            </div>
            <div class="search-box">
                <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                <label for="search"><i class="fas fa-search"></i></label>
                <input type="text" id="search" placeholder="Search globally">
                <button></button>
            </div>
            <div class="icons">
                <button class="CP"><i class="fa-solid fa-plus"></i></button>
                <div class="dropdown1">
                    <a href="http://localhost:3000/api/v1/tweets/create">Create Tweet</a>
                    <a href="post.html">Create Post</a>
                </div>
                <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn"><i id="dropdownIcon" class="fa-solid fa-user"></i>
                    </button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="#">Change Profile</a>
                            <a href="http://localhost:3000/api/v1/users/change-password">Change Password</a>
                        
                        <a href="http://localhost:3000/api/v1/users/logout">log out</a>

                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- sidepanel starts -->
    <div class="all">
        <div class="sidepanel">
            <div class="side1">
                <div class="home">
                    <i class="fa-solid fa-house"></i>
                    <li>Home</li>
                </div>
                <div class="home">
                    <i class="fa-solid fa-arrow-trend-up"></i>
                    <li>Popular</li>
                </div>
                <div class="home">
                    <i class="fa-solid fa-check-double"></i>
                    <li>All</li>
                </div>
            </div>
            <hr>
            <div class="side2">
                <div class="home">
                    <i class="fa-solid fa-plus"></i>
                    <li>Create Community</li>
                </div>
                <div class="home">
                    <i class="fa-regular fa-image"></i>
                    <li>Posts</li>
                </div>
                <div class="home">
                    <i class="fa-solid fa-users-line"></i>
                    <li>Teams</li>
                </div>
            </div>
            <hr>
            <div class="side3">
                <div class="home">
                    <i class="fa-brands fa-medapps"></i>
                    <li><a href="/AboutUs.ejs">About us</a></li>
                </div>
                <div class="home">
                    <i class="fa-regular fa-circle-question"></i>
                    <li>Help</li>
                </div>
                <div class="home">
                    <i class="fa-solid fa-asterisk"></i>
                    <li>Terms and Conditions</li>
                </div>
                <div class="home">
                    <i class="fa-solid fa-user"></i>
                    <li>User Aggrement</li>
                </div>
                <div class="home">
                    <i class="fa-solid fa-book-open-reader"></i>
                    <li><a href="http://localhost:3000/api/v1/users/contentPolicy">Content Policy</a></li>
                </div>
                <div class="home">
                    <i class="fa-solid fa-anchor-lock"></i>
                    <li>Privacy Policy</li>
                </div>


            </div>
        </div>



        <!-- Post ka div -->
        <div class="postpanel">
            <div class="posttext">
                <div class="user">
                    <img src="https://res.cloudinary.com/siddeshpansare/image/upload/v1712567761/kfx88ts6zxocqjibnxzs.jpg" alt="user">
                    <a href="#">User123</a>
                </div>
                <h4>Civic Sense Northeast India</h4>
                <!-- <img src="https://preview.redd.it/civic-sense-northeast-india-v0-r8phsr5a50rc1.jpeg?auto=webp&s=addb5b3398a343a8adcd65fa08ba54f1d95e779b" -->
                <!-- alt="POST"> -->
                <p> This is my fisrt tweet </p>
                <div class="interaction">
                    <span class="interaction1">
                        <button class="button1" onclick="changeColor1()"><i
                                class="fa-regular fa-thumbs-up"></i></button>
                        <span>
                            <h6>5.67K</h6>
                        </span>
                        <button class="button2" onclick="changeColor2()"><i
                                class="fa-regular fa-thumbs-down"></i></button>
                    </span>
                    <span class="interaction2">
                        <button><i class="fa-regular fa-comment"></i></button>
                        <span>
                            <h6>299</h6>
                        </span>
                    </span>
                    <!-- <span class="interaction2">
                        <button><i class="fa-solid fa-share"></i></i></button>
                        <span>
                            <h6>Share</h6>
                        </span>
                    </span> -->
                    <span class="interaction2">
                        <button><i class="fa-regular fa-bookmark"></i></i></button>
                        <span>
                            <h6>Save</h6>
                        </span>
                    </span>
                </div>
            </div>
            <hr>
            <div class="postcard">
                <div class="user">
                    <img src="https://res.cloudinary.com/siddeshpansare/image/upload/v1712567761/kfx88ts6zxocqjibnxzs.jpg" alt="user">
                    <a href="#">User123</a>
                </div>
                <h4>Civic Sense Northeast India</h4>
                <div class="center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNrzEfUoOLmvK2RZu66qPPDwT8ZfYTaiw2jA&usqp=CAU"
                        alt="POST">
                </div>
                <div class="interaction">
                    <span class="interaction1">
                        <button class="button1" onclick="changeColor1()"><i
                                class="fa-regular fa-thumbs-up"></i></button>
                        <span>
                            <h6>5.67K</h6>
                        </span>
                        <button class="button2" onclick="changeColor2()"><i
                                class="fa-regular fa-thumbs-down"></i></button>
                    </span>
                    <span class="interaction2">
                        <button><i class="fa-regular fa-comment"></i></button>
                        <span>
                            <h6>299</h6>
                        </span>
                    </span>
                    <!-- <span class="interaction2">
                        <button><i class="fa-solid fa-share"></i></i></button>
                        <span>
                            <h6>Share</h6>
                        </span>
                    </span> -->
                    <span class="interaction2">
                        <button><i class="fa-regular fa-bookmark"></i></i></button>
                        <span>
                            <h6>Save</h6>
                        </span>
                    </span>
                </div>
            </div>

            <hr>

            <div class="posttext">
                <div class="user">
                    <img src="https://res.cloudinary.com/siddeshpansare/image/upload/v1712567761/kfx88ts6zxocqjibnxzs.jpg" alt="user">
                    <a href="#">User123</a>
                </div>
                <h4> Water Crisis in Bangalore </h4>
                <!-- <img src="https://preview.redd.it/civic-sense-northeast-india-v0-r8phsr5a50rc1.jpeg?auto=webp&s=addb5b3398a343a8adcd65fa08ba54f1d95e779b" -->
                <!-- alt="POST"> -->
                <p> An acute drinking water crisis in Bengaluru has been creating international headlines for the past
                    few days. On Monday (April 18), Karnataka Chief Minister Siddaramaiah said Bengaluru was facing a
                    shortage of 500 million litres of water every day, which is about a fifth of the city’s daily total
                    demand. The CM said arrangements were being made for additional supplies for Bengaluru. </p>
                <div class="interaction">
                    <span class="interaction1">
                        <button class="button1" onclick="changeColor1()"><i
                                class="fa-regular fa-thumbs-up"></i></button>
                        <span>
                            <h6>5.67K</h6>
                        </span>
                        <button class="button2" onclick="changeColor2()"><i
                                class="fa-regular fa-thumbs-down"></i></button>
                    </span>
                    <span class="interaction2">
                        <button><i class="fa-regular fa-comment"></i></button>
                        <span>
                            <h6>299</h6>
                        </span>
                    </span>
                    <!-- <span class="interaction2">
                        <button><i class="fa-solid fa-share"></i></i></button>
                        <span>
                            <h6>Share</h6>
                        </span>
                    </span> -->
                    <span class="interaction2">
                        <button><i class="fa-regular fa-bookmark"></i></i></button>
                        <span>
                            <h6>Save</h6>
                        </span>
                    </span>
                </div>
            </div>

            <hr>
            
            <div class="postcard">
                <div class="user">
                    <img src="https://res.cloudinary.com/siddeshpansare/image/upload/v1712567761/kfx88ts6zxocqjibnxzs.jpg" alt="user">
                    <a href="#">User123</a>
                </div>
                <h4>Kohli scored Joint Slowest century in IPL History (67 balls)</h4>
                <div class="center">
                    <img src="https://preview.redd.it/kohli-scored-joint-slowest-century-in-ipl-history-67-balls-v0-pryn6opxovsc1.jpeg?auto=webp&s=03cb6dcc9cd9d41e1e09a6feea86d62728522780"
                        alt="POST">
                </div>
                <div class="interaction">
                    <span class="interaction1">
                        <button class="button1" onclick="changeColor1()"><i
                                class="fa-regular fa-thumbs-up"></i></button>
                        <span>
                            <h6>5.67K</h6>
                        </span>
                        <button class="button2" onclick="changeColor2()"><i
                                class="fa-regular fa-thumbs-down"></i></button>
                    </span>
                    <span class="interaction2">
                        <button><i class="fa-regular fa-comment"></i></button>
                        <span>
                            <h6>299</h6>
                        </span>
                    </span>
                    <!-- <span class="interaction2">
                    <button><i class="fa-solid fa-share"></i></i></button>
                    <span>
                        <h6>Share</h6>
                    </span>
                </span> -->
                    <span class="interaction2">
                        <button><i class="fa-regular fa-bookmark"></i></i></button>
                        <span>
                            <h6>Save</h6>
                        </span>
                    </span>
                </div>
            </div>
            <hr>
            <div class="postcard">
                <div class="user">
                    <img src="https://res.cloudinary.com/siddeshpansare/image/upload/v1712567761/kfx88ts6zxocqjibnxzs.jpg" alt="user">
                    <a href="#">User123</a>
                </div>
                <h4>When was the last time an Indian cricketer was booed in India?</h4>
                <div class="center">
                    <img src="https://preview.redd.it/when-was-the-last-time-an-indian-cricketer-was-booed-in-v0-lfhltreiwaqc1.png?auto=webp&s=7d287050fd1ee7939cfecf0ab5c6bd26af923a26"
                        alt="POST">
                </div>
                <div class="interaction">
                    <span class="interaction1">
                        <button class="button1" onclick="changeColor1()"><i
                                class="fa-regular fa-thumbs-up"></i></button>
                        <span>
                            <h6>5.67K</h6>
                        </span>
                        <button class="button2" onclick="changeColor2()"><i
                                class="fa-regular fa-thumbs-down"></i></button>
                    </span>
                    <span class="interaction2">
                        <button><i class="fa-regular fa-comment"></i></button>
                        <span>
                            <h6>299</h6>
                        </span>
                    </span>
                    <!-- <span class="interaction2">
                    <button><i class="fa-solid fa-share"></i></i></button>
                    <span>
                        <h6>Share</h6>
                    </span>
                </span> -->
                    <span class="interaction2">
                        <button><i class="fa-regular fa-bookmark"></i></i></button>
                        <span>
                            <h6>Save</h6>
                        </span>
                    </span>
                </div>
            </div>
            <hr>
            <div class="postcard">
                <div class="user">
                    <img src="https://res.cloudinary.com/siddeshpansare/image/upload/v1712567761/kfx88ts6zxocqjibnxzs.jpg" alt="user">
                    <a href="#">User123</a>
                </div>
                <h4>Copium for all my homies who didn't end up in good colleges and reality check for all IIT dickriders
                </h4>
                <div class="center">
                    <img src="https://i.redd.it/c9ef9xlni6tc1.jpeg" alt="POST">
                </div>
                <div class="interaction">
                    <span class="interaction1">
                        <button class="button1" onclick="changeColor1()"><i
                                class="fa-regular fa-thumbs-up"></i></button>
                        <span>
                            <h6>5.67K</h6>
                        </span>
                        <button class="button2" onclick="changeColor2()"><i
                                class="fa-regular fa-thumbs-down"></i></button>
                    </span>
                    <span class="interaction2">
                        <button><i class="fa-regular fa-comment"></i></button>
                        <span>
                            <h6>299</h6>
                        </span>
                    </span>
                    <!-- <span class="interaction2">
                    <button><i class="fa-solid fa-share"></i></i></button>
                    <span>
                        <h6>Share</h6>
                    </span>
                </span> -->
                    <span class="interaction2">
                        <button><i class="fa-regular fa-bookmark"></i></i></button>
                        <span>
                            <h6>Save</h6>
                        </span>
                    </span>
                </div>
            </div>
            <hr>
            <div class="postcard">
                <div class="user">
                    <img src="https://res.cloudinary.com/siddeshpansare/image/upload/v1712567761/kfx88ts6zxocqjibnxzs.jpg" alt="user">
                    <a href="#">User123</a>
                </div>
                <h4>If the same Satya would have stayed over, maybe he would have created a mini Microsoft in India,
                    Thoughts?</h4>
                <div class="center">
                    <img src="https://i.redd.it/iw2gqr3zx6tc1.jpeg" alt="POST">
                </div>
                <div class="interaction">
                    <span class="interaction1">
                        <button class="button1" onclick="changeColor1()"><i
                                class="fa-regular fa-thumbs-up"></i></button>
                        <span>
                            <h6>5.67K</h6>
                        </span>
                        <button class="button2" onclick="changeColor2()"><i
                                class="fa-regular fa-thumbs-down"></i></button>
                    </span>
                    <span class="interaction2">
                        <button><i class="fa-regular fa-comment"></i></button>
                        <span>
                            <h6>299</h6>
                        </span>
                    </span>
                    <!-- <span class="interaction2">
                    <button><i class="fa-solid fa-share"></i></i></button>
                    <span>
                        <h6>Share</h6>
                    </span>
                </span> -->
                    <span class="interaction2">
                        <button><i class="fa-regular fa-bookmark"></i></i></button>
                        <span>
                            <h6>Save</h6>
                        </span>
                    </span>
                </div>
            </div>
            <hr>
            <div class="posttext">
                <div class="user">
                    <img src="https://res.cloudinary.com/siddeshpansare/image/upload/v1712567761/kfx88ts6zxocqjibnxzs.jpg" alt="user">
                    <a href="#">User123</a>
                </div>
                <h4>What companies will rise or fall after election?</h4>
                <!-- <img src="https://preview.redd.it/civic-sense-northeast-india-v0-r8phsr5a50rc1.jpeg?auto=webp&s=addb5b3398a343a8adcd65fa08ba54f1d95e779b" -->
                <!-- alt="POST"> -->
                <p> I am am curious about how the stock market will rise or fall depending upon the party that gets elected? People who have a fair understanding of politics and have seen the stock market play out for decades, do chime in.

                    BJP - Adani, Reliance, Defense, Renewables, construction
                    
                    Congress - Maybe more small, medium enterprises since their manifesto mentioned more Make in India. Not sure which companies though.
                    
                    AAP - Frankly no idea </p>
                <div class="interaction">
                    <span class="interaction1">
                        <button class="button1" onclick="changeColor1()"><i
                                class="fa-regular fa-thumbs-up"></i></button>
                        <span>
                            <h6>5.67K</h6>
                        </span>
                        <button class="button2" onclick="changeColor2()"><i
                                class="fa-regular fa-thumbs-down"></i></button>
                    </span>
                    <span class="interaction2">
                        <button><i class="fa-regular fa-comment"></i></button>
                        <span>
                            <h6>299</h6>
                        </span>
                    </span>
                    <!-- <span class="interaction2">
                        <button><i class="fa-solid fa-share"></i></i></button>
                        <span>
                            <h6>Share</h6>
                        </span>
                    </span> -->
                    <span class="interaction2">
                        <button><i class="fa-regular fa-bookmark"></i></i></button>
                        <span>
                            <h6>Save</h6>
                        </span>
                    </span>
                </div>
            </div>

        </div>

</body>
<script src="/home.js"></script>

</html>