<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/Privacy.css">
    <script src="https://kit.fontawesome.com/948bfbd05c.js" crossorigin="anonymous"></script>

</head>

<body>
    <!-- navbar -->
    <div class="nav-bar">
        <div class="items-container">
            <img src="https://res.cloudinary.com/siddeshpansare/image/upload/v1712565045/r849digupjofzjczl4lh.png" alt="Logo" width="75" height="65">
            <h4>CampusHub</h4>
            <a href="/home.html">Home</a>
            <a href="">About Us</a>
            <a href="">Team</a>
        </div>
        <div class="item-container-2">
            <a href="/api/v1/users/login">Login</a>
            <a href="/api/v1/users/register">Register</a>
        </div>
    </div>

    <div class="policy">
        <h1>Campus Hub policy</h1>
        <p>Effective: March 15, 2024. Last Revised: February 15, 2024.
        </p>

        <h2>Introduction:</h2>
        <p class="text">At Campus Hub, we believe that privacy is a right. We want to empower our users to be the masters of
            their
            identity. In this privacy policy, we want to help you understand how and why Campus Hub, Inc. ("Campus Hub," "we" or
            "us") collects, uses, and shares information about you when you use our websites, mobile apps, widgets,
            APIs, emails, and other online products and services (collectively, the "Services") or when you otherwise
            interact with us or receive a communication from us.
        </p>

        <p>We want this privacy policy to empower you to make better choices about how you use Campus Hub. We'd love for you
            to read the whole policy, but if you don't, here is the TL;DR:</p>

        <p id="A">Campus Hub is a public platform. Our communities are largely public and anyone can see your profile,
            posts, and
            comments.
        </p>

        <p id="A">We collect minimal information about you.
            We collect minimal information that can be used to identify you by default. If you want to just browse, you
            don't need an account. If you want to create an account to participate in a subCampus Hub, we don't require you
            to give us your real name. We don't track your precise location. You can even browse anonymously. You can
            share as much or as little about yourself as you want when using Campus Hub.
        </p>

        <p id="A">We only use data to make Campus Hub a better place.
            Any data we collect is used primarily to provide our Services, which are focused on allowing people to come
            together and form communities. We don't sell your personal data to third parties, and we never work with
            data brokers.

            All of our users get privacy rights - not just those in select countries.
            Privacy rights are for everyone. At Campus Hub, anyone can request a copy of their data, account deletion, or
            information about our policies.

            If you have questions about how we use data, just ask.
            We've tried our best to make this as easy to understand as possible but sometimes privacy policies are still
            confusing. If you need help understanding this policy or anything about Campus Hub, just ask.

        </p>

        <p id="A">How We Use Information

            We use information about you to:

            Provide, maintain, and improve the Services;
            Personalize services, content, and features that match your activities, preferences, and settings;
            Help protect the safety of Campus Hub and our users, which includes blocking suspected spammers, addressing
            abuse, and enforcing the Campus Hub User Agreement and our other terms and policies, as well as comply with
            applicable law;
            Provide, optimize, target, and measure the effectiveness of ads shown on our Services;
            Research and develop new services;
            Send you technical notices, updates, security alerts, invoices, and other support and administrative
            messages;
            Provide customer service;
            Communicate with you about products, services, offers, promotions, events, and programs, and provide other
            news and information we think will be of interest to you (for information about how to opt out of these
            communications, see "Your Choices" below);
            Monitor and analyze trends, usage, and activities in connection with our Services.
            Campus Hub Is a Public Platform
            Much of the information on the Services is public and accessible to everyone, even without an account. By
            using the Services, you are directing us to share this information publicly and freely.
        </p>
        <p id="A">When you submit content (e.g., a post, comment, or chat message) to a public part of the Services, any
            visitors to and users of our Services will be able to see that content, the username associated with the
            content, and the date and time you originally submitted the content. That content and information may also
            be available in search results on Internet search engines like Google. You should take the public nature of
            the Services into consideration before posting.
        </p>
        <p id="A">Your Campus Hub account has a profile page that is public. Your profile contains information about your
            activities on the Services, such as your username, prior posts and comments, karma, trophies received,
            profile display name, about section, and social links, avatar or profile image, moderator, contributor, and
            Campus Hub Premium status, communities you are active in, and how long you have been a member of the Services
            (your cake day).</p>

        <p id="A"> We offer social sharing features that let you share content or actions you take on our Services with
            other
            media. Your use of these features enables the sharing of certain information with your friends or the
            public, depending on the settings you establish with the third party that provides the social sharing
            feature. For more information about the purpose and scope of data collection and processing in connection
            with social sharing features, please visit the privacy policies of the third parties that provide these
            social sharing features (e.g., Tumblr, Facebook, and X).
        </p>
        <p id="A">Campus Hub allows moderators to access Campus Hub content using moderator bots and tools. Campus Hub also allows
            other
            third parties to access public Campus Hub content using Campus Hub's developer services, including Campus Hub Embeds,
            our APIs, Developer Platform, and similar technologies. We limit third-party access to this content and
            require third parties to pay licensing fees for access to larger quantities of content. Campus Hub's Developer
            Terms are our standard terms governing how these services are used by third parties.</p>

        <h2>How We Share Information</h2>
        <p id="A">In addition to the information that is displayed publicly as described above, we may share information
            in
            the following ways:

            With your consent. We may share information about you with your consent or at your direction.
            With linked services. If you link your Campus Hub account with a third-party service, Campus Hub will share the
            information you authorize with that third-party service. You can control this sharing as described in "Your
            Rights and Choices" below.</p>
        <p id="A">With our service providers. We may share information with vendors, consultants, and other service
            providers
            who need access to such information to carry out work for us. Their use of personal data will be subject to
            appropriate confidentiality and security measures. A few examples: (i) payment processors who process
            transactions on our behalf, (ii) cloud providers who host our data and our services, (iii) third-party ads
            measurement providers who help us and advertisers measure the performance of ads shown on our Services, and
            (iv) compliance providers who help us determine your eligibility to participate in Campus Hub Programs.
            To comply with the law. We may share information if we believe disclosure is in accordance with, or required
            by, any applicable law, regulation, legal process, or governmental request, including, but not limited to,
            meeting national security or law enforcement requirements. To the extent the law allows it, we will attempt
            to provide you with prior notice before disclosing your information in response to such a request. Our
            Transparency Report has additional information about how we respond to government requests.
            In an emergency. We may share information if we believe it's necessary to prevent imminent and serious
            bodily harm to a person.</p>
        <p id="A">To enforce our rights and promote safety and security. We may share information if we believe your
            actions
            are inconsistent with our User Agreement, rules, or other Campus Hub terms and policies, or to protect the
            rights, property, and safety of the Services, ourselves, and others.
            With our affiliates. We may share information between and among Campus Hub, and any of our parents, affiliates,
            subsidiaries, and other companies under common control and ownership.
            Aggregated or de-identified information. We may share information about you that has been aggregated or
            anonymized such that it cannot reasonably be used to identify you. For example, we may show the total number
            of times a post has been upvoted without identifying who the visitors were, or we may tell an advertiser how
            many people saw their ad.</p>
        <h2> How We Protect Your Information</h2>
        <p id="A">We take measures to help protect information about you from loss, theft, misuse and unauthorized
            access,
            disclosure, alteration, and destruction. For example, we use HTTPS while information is being transmitted.
            We also enforce technical and administrative access controls to limit which of our employees have access to
            non-public personal information.
        </p>
        <p id="A">You can help maintain the security of your account by configuring two-factor authentication.
            We store the information we collect for as long as it is necessary for the purpose(s) for which we
            originally collected it. We may retain certain information for legitimate business purposes and/or if we
            believe doing so is in accordance with, or as required by, any applicable law. For example, if you violate
            our policies and your account is suspended or banned, we may store the identifiers used to create the
            account (such as phone number) to prevent you from creating new accounts.</p>

        <h2>Your Rights and Choices</h2>
        <p id="A">You have choices about how to protect and limit the collection, use, and sharing of information about
            you
            when you use the Services. Depending on where you live, you may also have the right to
            correction/rectification of your personal information, to opt out of certain advertising practices, or to
            withdraw consent for processing where you have previously provided consent. Below we explain how to exercise
            each of these rights. Campus Hub does not discriminate against users for exercising their rights under data
            protection laws.</p>
    </div>
    <hr>




    <!-- Footer -->
    <!-- <footer>
        <div class="row">
            <div class="col">
                <img src="/Assets/footer-logo.png" class="logo" width="85" height="55">
                <p style="color: white;">CollegeHub is home to thousands of communities, endless conversation, and
                    authentic human connection.</p>
            </div>
            <div class="col">
                <h3>Office</h3>
                <p>Vikas Nagar </p>
                <p>Koparkhairane</p>
                <p>Navi Mumbai</p>
                <p>Maharashtra , PIN 400600 , INDIA</p>
                <p class="E-mail">E-mail Id:collegehub123@gmail.com</p>
                <h4>+91 - 9988774455</h4>
            </div>
            <div class="col">
                <h3>Links</h3>
                <ul>
                    <li><a href="/home.html" target="_blank">Home</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="/AboutUs.html" target="_blank">About us</a></li>
                    <li><a href="">Features</a></li>
                    <li><a href="">Contacts</a></li>
                </ul>
            </div>
            <div class="col">
                <h3>Newsletter</h3>
                <form>
                    <i class="fa-regular fa-envelope"></i>
                    <input type="email" placeholder="E-mail id" required>
                    <button type="submit"><i class="fa-solid fa-arrow-right"></i></button>
                </form>
                <div class="social-icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </div>
        </div>
        <hr>
        <p class="copyright" style="font-family: Arial, Helvetica, sans-serif;">Campus Hub <i
                class="fa-solid fa-copyright">- 2024 All Right Reserved</i></p>
    </footer> -->
</body>

</html>