<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/tweet.css">
    <title>Document</title>
</head>

<body>
    <div class="createPost">
            <form method="post" action="http://localhost:3000/api/v1/tweets/create">
            <h3>Create Tweet</h3>
            
            <input class="headline" type="text" placeholder="Enter Tweet Headline" autocomplete="off" name="headline">
            
            <input class="content" type="text" name="content" autocomplete="off" placeholder=" Tweet Content Goes Here ">
            
            <button>Post</button>
            </div>
    </form>
    </div>
</body>

</html>